@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

*{
  box-sizing: border-box;
}

@media screen and (max-width 780px) {

}

body {
  margin: 0;
  /* background-color: ##1C1A1D;*/
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-image: url("img/background.jpg");
  background-color: #000000;
  height: 1000px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Eget logo */
.logo {
  display: block;
  margin: 40px;
  height: 150px;
  width: 260px;
  float: left;
}

/* Header */
/* Header er et semantisk tag. Margin er distancen, så hvis man sætter margin på 5 er der større mellemrum */
header {
  position: absolute;
    width: 100%;
}
/* Container er måden den kommer i en container og der kommer mellemrum ude i siderne */
.header-container{
  width: 100%;
  margin: auto;
}



/* navigation liste øverst, Padding - Clears an area around the content. The padding is transparent  */
nav ul{
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}


/* nav li er stilen i headeren. feks størrelsen og float gør at teksten er højre stillet */
nav li{
  margin: auto;
  padding: 5px;
  float: right;
}


/* nav a er stilen på knapperne i header, padding gør at området man kan klikke på omkring navigationen er større */
nav a{
  color:#CB9771;
  font-weight: 700;
  font-size: 20px;
  /*display: inline;*/
  font-family: "Poppins";
  text-decoration: none;
  text-transform: uppercase;
  padding: 40px;
}



/* active er den side man befinder sig på, så den viser i navigationen hvor du er  */
.active{
  font-weight: bold;
  color: #A57048;
}

/* Hover er den farve knappen skifter til, når den markeres med en mus  */
nav a:hover,
nav a:focus {
  color: #A57048;
}


/* Typografi */
.overskrift{
  padding: 1em;
  color: #CB9771;
  font-size: 45px;
  display: block;
  text-align: right;
}
/* Størrelsen på den viste skærm i overskrift (responsive) */
@media (min-width: 10rem){
  .overskrift {
    font-size: 50px;
  }
}



/* Velkommen til min online portfolio */
.quote{
  margin: auto;
  color:#CB9771;
  font-size: 40px;
  display: block;
  text-align: center;
  padding: 4.5em;
}


/* Container til paragraf delen*/
.text-container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

/* Paragraph tekst "om mig" */
p{
  margin: auto;
  color:#CB9771;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 3em;
}



/* Knappen til at downloade mit CV
.download{
}
*/

.download a{
  color: #CB9771;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  display: inline-block;
}

.download a:hover,
.download a:focus {
  color: #A57048;
}




/* Portfolio delen (med bokse) */
.portfolio {
  height: 650px;
  background-color: #CB9771;
}

.portfolio-text {
    font-weight: bold;
    color: #1C1A1D;
    font-size: 30px;
    line-height: 50px;
  }

h1{
  padding: 40px;
  color: #1C1A1D;
}

.box-container{
    display: flex;
    justify-content: space-between;
  }

.afsnit{
  color: #A57048;
  font-family: poppins;
  font-size: 30px;
}

.box1,.box2,.box3{
  width: 420px;
  height: 470px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box1{
  background-image: url("img/portfolio1.jpg");
}

.box2{
  background-image: url("img/portfolio3.jpg");
}

.box3{
  background-image: url("img/portfolio2.jpg");
}

/* knappen der fører videre til næste html side med portfolio  */

.box1 p,
.box2 p,
.box3 p{
  color: #CB9771;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  display: inline-block;
}

.box1 p:hover,
.box1 p:focus {
  color: #A57048;
}

.box2 p:hover,
.box2 p:focus {
  color: #A57048;
}

.box3 p:hover,
.box3 p:focus {
  color: #A57048;
}


.linkbox {
  text-decoration: none;
}

/* Kontakt mig  */
.kontakt-mig p{
  color: #1C1A1D;
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
}

.kontakt-mig{
  width: 100%;
  height: auto;
  background-image: url("img/contact.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}





/* Footer  */
footer{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p{
  color: #CB9771;
  line-height: 15px;
  font-size: 15px;
  width: auto;
  text-align: center;
}

.sociale-medier a{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CB9771;
  margin: 20px 10px;
  border-radius: 50%;
}

.sociale-medier{
  display: flex;
}

.sociale-medier i{
  color: #1C1A1D;
}

.sociale-medier a:hover{
  background-color: #A57048;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}




/* Stil på portfolio browser */
img{
  margin: 5em;
  max-width: 100%;
  height: 40%;
  width: 40%;
  float: center;
}

/* Den tekst der lige under billedet, beskriver hvad det er */
.billede-beskrivelse{
  margin-top: auto;
  color:#CB9771;
  display: block;
}
